body{
    background: url("back_tablet.jpg") no-repeat;
    background-size: cover;
}

.wrapper{
    display: grid;
    grid-auto-flow: row;
    height: 100%;
    width: 100%;
    justify-items: center;
}
.logo-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
}
.form{
    font-size: 18px;
    width: 330px;
    height: 100px;
    border: black 1px solid;
    background: white;
    display: grid;
    padding: 10px;
}

.help{
    color: white;
    font-size: 12px;
}
.form-wrapper{
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-content: space-between;
}
