body {
    background: url("../assets/back_tablet.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    grid-auto-flow: row;
    justify-items: center;
}

.logo-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
}

.form {
    font-size: 18px;
    width: 330px;
    height: 100px;
    border: var(--border-form-color) 1px solid;
    display: grid;
    padding: 10px;
}

.help {
    color: var(--help-color);
    font-size: 12px;
}

.form-wrapper {
    grid-auto-flow: row;
    justify-items: center;
    align-content: space-between;
}
